.lead {
  max-width: 984px;
  width: 100%;
  padding: 56px 0 0;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
