.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  text-align: center;
  padding: 32px 0 0 0;
  margin: 0 auto 33px;
}
/* 
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 80%;
    position: absolute;
    bottom: 195px;
    left: 332px;
  }
} */

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
}
