.header__logo {
  background-image: url(../../../images/__logo.svg);
  background-repeat: no-repeat;
  width: 172px;
  height: 52px;
  padding-top: 28px;
  padding-left: 48px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    padding: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
