.cover__background {
  background-image: url(../../../images/cover.png);
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 1/3;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
