.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 90.625%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
  }
}
