.place__image {
  width: 100%;
  object-fit: contain;
}

/* @media screen and (max-width: 768px) {
  .place__image {
    grid-row: auto;
  }
}

@media screen and (max-width: 340px) {
  .place__image {
    width: 320px;
    height: 320px;
    grid-row: auto;
  }
} */
